h1 {
  text-align: center;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  border: 2px red solid;

  margin: 0;
  padding: 0;
}

#calculatorBody {
  background-color: rgb(6, 6, 201);

  display: flex;

  margin: 50px;

  height: 400px;
  width: 200px;

  display: flex;
  flex-direction: column;
}

#display {
  height: 30px;
  border: 2px red solid;
  align-items: center;
  justify-content: center;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 15px 0px 10px 0px;
}

.btn {
  margin: 5px;
  padding: 5px 10px;
}
